---
// import Welcome from '../components/Welcome.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section id="hero">
    <h3>A place to share my thoughts and projects.</h3>
  </section>
</Layout>
