---
// import Welcome from '../components/Welcome.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section id="hero">
    <h2>A place to share my thoughts and projects.</h2>
    <p>More random stuff...</p>
  </section>
</Layout>
