---
import "../styles/index.scss";
import "@fontsource/source-serif-pro/200.css";
import "@fontsource/source-serif-pro/300.css";
import "@fontsource/source-serif-pro/400.css";
import "@fontsource/source-serif-pro/600.css";
import "@fontsource/source-serif-pro/700.css";
import "@fontsource/source-serif-pro/900.css";
// Supports weights 200-800
import "@fontsource-variable/atkinson-hyperlegible-next";
const { title } = Astro.props;

// get percentage of the year left
const percentageOfYearCompleted =
  (new Date().getTime() - new Date(new Date().getFullYear(), 0, 1).getTime()) /
  (new Date(new Date().getFullYear(), 11, 31).getTime() -
    new Date(new Date().getFullYear(), 0, 1).getTime());
const percentageOfYearCompletedFormatted = `${Math.round(percentageOfYearCompleted * 100)}%`;

const quotes = [
  "Don't forget to have fun.",
  "Take your time.",
  "Slow down.",
  "Be equisitely present.",
];
const currentQuote = quotes[Math.floor(Math.random() * quotes.length)];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <div class="nav-content">
        <a class="home-link" href="/">James Tucker</a>
        <div class="secondary-links">
          <a href="/writing">Writing</a>
          <a href="/about">About</a>
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer-content">
        <p>{currentQuote}</p>
        <time datetime="2025"
          >2025 - {percentageOfYearCompletedFormatted} completed</time
        >
      </div>
    </footer>
  </body>
</html>

<style lang="scss">
  @import "../styles/theme.scss";

  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $space-sm $space-md;
    flex-shrink: 0;
    height: $nav-height;
    width: 640px;
    margin: 0 auto;

    .nav-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    a {
      &:hover {
        text-decoration-thickness: 3px;
        text-underline-offset: 7px;
      }
    }
  }

  main {
    padding: $space-2xl $space-md;
    min-height: calc(100vh - $nav-height - $footer-height);
    max-width: 640px;
    margin: 0 auto;
  }

  footer {
    text-align: center;
    font-size: $font-size-sm;
    height: $footer-height;
    border-top: 1px solid $color-border;

    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 640px;
      margin: 0 auto;
      padding: $space-sm $space-md;
    }
  }

  .home-link {
    font-size: $font-size-xl;
  }

  .secondary-links {
    display: flex;
    gap: $space-md;
    font-size: $font-size-lg;
  }
</style>
