---
import "../styles/globals.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a class="home-link" href="/">James Tucker</a>
      <a class="secondary-link" href="/about">About</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  @import "../styles/theme.scss";

  html,
  body {
    max-width: 769px;
    height: 100%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
  }

  .home-link {
    font-size: $font-size-xl;
  }

  .secondary-link {
    font-size: $font-size-lg;
  }

  main {
    padding: 16px;
  }
</style>
