---
import "../styles/globals.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a class="home-link" href="/">James Tucker</a>
      <div class="secondary-links">
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer><p>© 2025 James Tucker</p></footer>
  </body>
</html>

<style lang="scss">
  @import "../styles/theme.scss";

  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    max-width: 769px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: $space-sm $space-md;
    flex-shrink: 0;

    a {
      text-decoration: none;
    }
  }

  main {
    flex: 1;
    padding: $space-md;
  }

  footer {
    flex-shrink: 0;
    text-align: center;
    padding: $space-md;
    font-size: $font-size-sm;
  }

  .home-link {
    font-size: $font-size-xl;
  }

  .secondary-links {
    display: flex;
    gap: $space-md;
    font-size: $font-size-lg;
  }
</style>
